In [1]:
 %matplotlib inline
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
import gensim
from gensim.models import LdaModel
from gensim import models, corpora, similarities
import re
import time
from nltk import FreqDist
from scipy.stats import entropy
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")
from pymongo import MongoClient
from nltk.tokenize import word_tokenize
import pickle
import string
from string import punctuation

In [2]:
 #Details for getting data from projectfinder
db_loc = {
    'ip' :'10.10.250.0',
    'port' : 27017,
    'database' : 'projectfinder',
    'collection' : 'hdfs_2'
}

In [3]:
def load_dataset_from_momgodb(db_obj):
    
    """
    This method loads a dataset as a pandas dataframe from MongoDB 
    
    Parameters:
    @db_obj (dict): Storing the ip address, port number, database name and collection name for dataset to be loaded
    
    Returns:
    panadas dataframe: Containing the loaded dataset
    """
    
    #Extracting the items from the inputted dictionary
    dbname = db_obj['database']
    ip = db_obj['ip']
    port = db_obj['port']
    collection = db_obj['collection']
    
    #Creating a connection to the database using MongoClient
    connection = MongoClient(ip, port)
    db = connection[dbname]
    
    #Excluding the fileds which are not needed in the dataframe 
    #Currenlty excluding the id associated with each document of the collection
    
    exclude_field = {'_id': False}
    raw_dataset = list(db[collection].find({}, projection=exclude_field))
    
    dataset = pd.DataFrame(raw_dataset)
    print(f'Data loaded from mongodb {collection} collection succesfully')
    return dataset

In [7]:
df = load_dataset_from_momgodb(db_loc)
df.shape

Data loaded from mongodb hdfs_2 collection succesfully

(253221, 1)

In [6]:
#df.drop('description', axis=1, inplace=True)

In [23]:
#df = df[df['ready'] != '']

In [24]:
#df = df.drop_duplicates()

In [25]:
#df.shape

(253221, 1)

In [4]:
db_data = {
    'ip' :'10.10.250.0',
    'port' : 27017,
    'db' : 'projectfinder',
    'coll' : 'hdfs_2'
}

In [5]:
def save_to_momgodb(df,db_):
    data = df.to_dict(orient='records')
    dbname = db_['db']
    ip = db_['ip']
    port = db_['port']
    coll = db_['coll']
    connection = MongoClient(ip,port)
    db = connection[dbname]
    col = db[coll].insert_many(data)
    print(f'data saved as {coll}')

In [30]:
save_to_momgodb(df, db_data)

data saved as hdfs_2

In [7]:
df.shape

(253221, 1)

In [9]:
df.head()

                                               ready
0  Projekt in Köln: Cloud Architekt (m/w) gesucht...
1  Für unseren Kunden suchen wir asap einen Senio...
2  Für ein Teilzeitprojekt in Hamburg sucht unser...
3  Projektbeschreibung \n\n                      ...
4  Future Consulting GmbH \r\nentscheiden Sie sic...

In [10]:
pickle_in = open('constants/stopwords.pickle',"rb")
stopwords_all = pickle.load(pickle_in)

In [11]:
len(stopwords_all)

13242

In [12]:
pickle_in = open('constants/stemmer_own.pickle',"rb")
stemmer_own = pickle.load(pickle_in)

In [13]:
len(stemmer_own)

14

In [14]:
stemmer_own

{'admin': 'admin',
 'verwaltung': 'administration',
 'architektur': 'architektur',
 'agil': 'agile',
 'app': 'application',
 'anwend': 'application',
 'automat': 'automate',
 'consultant': 'berater',
 'berat': 'berater',
 'cisco': 'cisco',
 'contin': 'continuous',
 'schnittstell': 'interface',
 'überwach': 'monitoring',
 'mobil': 'mobil'}

In [15]:
#german cities
from scripts_mod.bundeslander import Baden_Württemberg, Bayern, Berlin, Brandenburg, Bremen, Hamburg, Hessen, Mecklenburg_Vorpommern, Niedersachsen, Nordrhein_Westfalen, Rheinland_Pfalz, Saarland, Sachsen, Sachsen_Anhalt, Schleswig_Holstein, Thüringen, Ausland

All = Baden_Württemberg + Bayern + Berlin + Brandenburg + Bremen +Hamburg + Hessen + Mecklenburg_Vorpommern + Niedersachsen + Nordrhein_Westfalen + Rheinland_Pfalz + Saarland + Sachsen + Sachsen_Anhalt + Schleswig_Holstein + Thüringen + Ausland
cities = list(set([city.lower() for city in All]))

In [16]:
months = ['Januar', 'January','Februar', 'February', 'März', 'March', 'April', 'Mai', 'May', 'Juni', 'June', 'Juli', 
          'July', 'August', 'September', 'Oktober', 'October', 'November', 'Dezember', 'December']
months = [month.lower() for month in months]
print(months)

['januar', 'january', 'februar', 'february', 'märz', 'march', 'april', 'mai', 'may', 'juni', 'june', 'juli', 'july', 'august', 'september', 'oktober', 'october', 'november', 'dezember', 'december']

In [17]:
stopwords_all = list(set(stopwords_all + cities + months))
len(stopwords_all)

13242

In [15]:
a = df.values # Assuming you have two columns A and B
#df['C'] = np.where(a[:,1]>5,a[:,0],0.1*a[:,0]*a[:,1])

In [17]:
a[:,0]

array(['Projekt in Köln: Cloud Architekt (m/w) gesucht! \r\nMit meinem Kunden im öffentlichen Bereich suchen wir nach einem Cloud Architekten (m/w). \r\nIhre Kompetenzen: \r\n * ARIS und möglichst SPARX \r\n * Clou ...',
       'Für unseren Kunden suchen wir asap einen Senior-Berater Einführung EWM (Fokus: Retail) (w/m) in Bornheim in der Pfalz. \r\nUnsere Projektnummer: 1-4691 \r\nProjektbeschreibung: \r\nFür unser agiles Proje ...',
       'Für ein Teilzeitprojekt in Hamburg sucht unser Kunde Unterstützung von einem IT Manager (m/w) für die Handhabung von IDV gleichwertig zu IT-Applikationen, IT-Governance nach COBIT5, IT-Betrieb (Anpassungen an IT-Betriebsprozessen aufgrund BAIT, z.B. in Informationssicherheitsmanagement, Testmanagement, Benutzerberechtigungsmanagement), IT-Risikomanagement und Informationssicherheitsmanagement als auch Compliance. \nRahmendaten \n * Start: September 2017 \n * Laufzeit: 31.05.2018 \n * Einsatzort: Hamburg \n * Auslastung: Teilzeit vor Ort \n * Projektsprache: Deutsch auf Muttersprachenniveau \nHabe ich Ihr Interesse als IT Manager (m/w) mit Knowhow in Compliance (m/w) geweckt? Dann schicken Sie mir bitte Ihr aktuelles Profil, Stundensatzvorstellung und Verfügbarkeit. \nIch freue mich auf Ihre Rückmeldung!',
       ...,
       'Aktuell bieten wir in Zusammenarbeit mit unserem Auftraggeber (Ihr direkter Vertragspartner) eine Projektmöglichkeit im Großraum Stuttgart im Bereich der unabhängigen ERP Beratung. \r \r Die Aufgabe umfasst u. a. folgende Punkte:\r - Verbesserungspotential in den IT-gestützten Geschäftsprozessen erkennen\r - Softwareauswahl, Durchführung und Unterstützung des Kunden im Projektmanagement der Software-Einführung\r - Soll-Prozesse beschreiben und ggf. modellieren\r - Erstellung von Projekt-Ausschreibungen\r - Unterstützung bei Qualitätssicherung, Projektorganisation und -controlling des Kunden\r \r Unser Auftraggeber, ein ERP-Beratungshaus aus Baden-Württemberg, betreut verschiedene Projekte bei Kunden aus der mittelständischen Fertigung, Gerätebau, Maschinenbau, technischer Großhandel und Prozessfertigung. Sie sollten daher über sehr gute Kenntnisse der Geschäftsprozesse in Fertigungs- und Handelsunternehmen und deren Unterstützung durch unternehmensweite ERP Business-Software verfügen.\r \r Hintergründe zum Projekt und Informationen zu Stundensatz, Auslastung, remote-Anteil, sowie eine schnelle und komfortable Bewerbungsmöglichkeit inkl. Datei-Upload finden Sie unter folgendem Link:\r \r https://fair-recruitment.de/projekte/grossraum-stuttgart-erp-beratung-2/\r \r OPENBOOK:\r Unser separater Aufschlag für die Vermittlung liegt zwischen 5 € und 9 € der geleisteten Stunde, den wir separat mit unserem Auftraggeber abrechnen.\r \r #erp #beratung #softwareauswahl #implementierung #projektmanagement #geschäftsprozess #optimierung #sap #sme #msdynamics #nav #ax #sage #infor #proalpha #abas #business #software #crm #bi\r \r Wir sind gespannt auf Ihr Interesse!\r \r Viele Grüße \r i. A. Sarah Ludwig\r _____________________________________\r Fair Recruitment GmbH\r \r \r \r \r http://www.fair-recruitment.de\r \r Untere Hauptstr. 1\r 85354 Freising\r Registergericht München\r Handelsregisternummer: HRB 200542\r Geschäftsführer: Alexander Grossmann',
       'Wir sind ein kleines Team mit diversen erfolgreichen Projekten. Wir wachsen sehr schnell und su-chen deswegen ab sofort am Standort Nürnberg für einen renommierten Kunden mehrere teamfä-hige, zuverlässige freiberufliche Tester für Protractor .\r \r Start: ab sofort\r Dauer: bis zum Jahresende (mit Option auf Verlängerung) \r Einsatzort: Nürnberg\r Auslastung: Vollzeit \r \r Erforderliche Skills:\r - Erfahrung mit JavaScript/TypeScript, Angular (2+), Node.js\r - Sehr gute Kenntnisse in HTML5, CSS3\r - Erfahrung mit Angular\r - Protractor\r - Karma\r - Kenntnisse in Jasmine ist wünschenswert\r - Gute Erfahrung in der Versionsverwaltung (Git, SVN)\r - Gute Erfahrung mit Build- und Deploymentsystemen (Maven, Gradle und Jenkins) und CI/CD\r \r \r Allgemein: \r - Erfahrung mit agilen Methoden Scrum und Kanban\r - Teamfähigkeit\r - Qualitätsbewusst\r \r Sind Sie derzeit auf der Suche nach einem spannenden und anspruchsvollen Projekt? Dann freuen wir uns auf die Zusendung Ihres aktuellen Profils an',
       'Tätigkeitenbeschreibung Wir suchen für unseren Kunden in Kerpen einen erfahrenen Network Engineer (m/w) für die Einsatzdauer von 6 Monaten.  Aufgaben: - Behebung von Bugs auf Grundlage von Tickets  - Erkennun und beseitigen von RSTP und DNS Problemen - Sicherstellung des bestehenden Netzwerks und deren Performance - Durchführen von Changes Anforderungen: MUST - Erfahrung in der Administration von großen Netzwerken und deren LAN-Protokolle  - Deutsch & Englisch NICE - JNCIP Zertifizierungen - Erfahrung mit DOCSIS - Erfahrung mit Optical Network - Erfahrung mit den Juniper-Serien EX, MX und ggf. PTX'],
      dtype=object)

In [18]:
def text_processing(text):
    """Normalize, tokenize, stem the original text string
    
    Args:
    text: string. String containing message for processing
       
    Returns:
    cleaned: list of strings. List containing normalized and stemmed word tokens with bigrams
    """

    try:
        text = re.sub(r'(\d)',' ',text.lower())
        text = re.sub('[%s]' % re.escape(string.punctuation), ' ', text)
        tokens = word_tokenize(text)
        tokens_cleaned = [word for word in tokens if word not in stopwords_all and len(word) > 1]
        
        stemmed_tokens = []
        stemmer_keys = list(stemmer_own.keys())
        for word in tokens_cleaned:
            for stemmer_key in stemmer_keys:
                if stemmer_key in word:
                    stemmed_word = stemmer_own[stemmer_key]
                    stemmed_tokens.append(stemmed_word)
                    break
            else:
                stemmed_tokens.append(word)
  
                

    except IndexError:
        pass

    return stemmed_tokens

In [14]:
print(pd.__version__)

0.25.0

In [15]:
df.shape

(253221, 1)

In [48]:
df.shape

(253221, 1)

In [54]:
df.ready[63301]

'P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n, , , , , , , , , , , , , , , , , , , , , , , , , , , , , ,\n, , , , , , , , , , , , , , ,M,e,l,d,e,n, ,S,i,e, ,s,i,c,h, ,j,e,t,z,t, ,a,n, ,u,n,d, ,b,e,w,e,r,b,e,n, ,S,i,e, ,s,i,c,h, ,d,i,r,e,k,t,!, ,\n, , , , , , , , , , , , , , ,J,e,t,z,t, ,b,e,w,e,r,b,e,n, ,\n, , , , , , , , , ,\n, , , , ,\n,\n, , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ,F,ü,r, ,e,i,n,e,n, ,u,n,s,e,r,e,r, ,G,r,o,ß,k,u,n,d,e,n, ,s,u,c,h,e,n, ,w,i,r, ,d,e,r,z,e,i,t, ,e,i,n,e,n, ,f,r,e,i,b,e,r,u,f,l,i,c,h,e,n, ,M,i,t,a,r,b,e,i,t,e,r, ,o,d,e,r, ,e,i,n,e,n, ,M,i,t,a,r,b,e,i,t,e,r, ,z,u,r, ,F,e,s,t,a,n,s,t,e,l,l,u,n,g,,, ,d,e,r, ,d,i,e, ,n,a,c,h,f,o,l,g,e,n,d,e,n, ,A,n,f,o,r,d,e,r,u,n,g,e,n, ,e,r,f,ü,l,l,t,:, ,I,h,r,e, ,A,u,f,g,a,b,e,n,:, , ,S,t,ö,r,u,n,g,s,a,n,a,l,y,s,e, ,u,n,d, ,L,ö,s,u,n,g,s,e,n,t,w,i,c,k,l,u,n,g, ,i,n, ,e,i,n,e,m, ,k,o,m,p,l,e,x,e,n, ,I,T,-,U,m,f,e,l,d, ,V,e,r,g,a,b,e, ,v,o,n, ,B,e,r,e,c,h,t,i,g,u,n,g,e,n, ,i,n, ,A,c,t,i,v,e, ,D,i,r,e,c,t,o,r,y, ,S,o,f,t,w,a,r,e,z,u,w,e,i,s,u,n,g, ,v,i,a, ,S,C,C,M, ,G,e,w,ä,h,r,l,e,i,s,t,u,n,g, ,d,e,s, ,S,u,p,p,o,r,t,s, ,m,i,t, ,B,e,a,c,h,t,u,n,g, ,d,e,r, ,S,L,A,´,s, ,M,i,t,w,i,r,k,u,n,g, ,u,n,d, ,D,o,k,u,m,e,n,t,a,t,i,o,n, ,a,n, ,d,e,r, ,t,e,c,h,n,i,s,c,h,e,n, ,W,i,s,s,e,n,s,d,a,t,e,n,b,a,n,k, ,I,h,r, ,P,r,o,f,i,l,:, ,A,b,g,e,s,c,h,l,o,s,s,e,n,e, ,B,e,r,u,f,s,a,u,s,b,i,l,d,u,n,g, ,z,u,m, ,F,a,c,h,i,n,f,o,r,m,a,t,i,k,e,r, ,S,y,s,t,e,m,i,n,t,e,g,r,a,t,i,o,n, ,o,d,e,r, ,v,e,r,g,l,e,i,c,h,b,a,r,e, ,Q,u,a,l,i,f,i,k,a,t,i,o,n,e,n, ,G,u,t,e, ,K,e,n,n,t,n,i,s,s,e, ,i,m, ,W,i,n,d,o,w,s, ,7,/,1,0, ,u,n,d, ,B,a,c,k,O,f,f,i,c,e, ,B,e,r,e,i,c,h, ,(,A,c,t,i,v,e, ,D,i,r,e,c,t,o,r,y,), ,T,i,e,f,g,e,h,e,n,d,e, ,K,e,n,n,t,n,i,s,s,e, ,i,m, ,B,e,r,e,i,c,h, ,S,C,C,M, ,F,u,n,d,i,e,r,t,e, ,K,e,n,n,t,n,i,s,s,e, ,i,m, ,i,O,S, ,U,m,f,e,l,d, ,(,i,P,h,o,n,e, ,u,n,d, ,i,P,a,d, ,S,u,p,p,o,r,t,), ,F,ü,h,r,e,r,s,c,h,e,i,n, ,d,e,r, ,K,l,a,s,s,e, ,B, ,e,r,f,o,r,d,e,r,l,i,c,h, ,R,a,h,m,e,n,p,a,r,a,m,e,t,e,r,:, ,S,t,a,n,d,o,r,t,:, ,H,a,m,b,u,r,g, , ,L,a,u,f,z,e,i,t,:, ,a,s,a,p, ,-, ,u,n,b,e,f,r,i,s,t,e,t, ,W,i,c,h,t,i,g, ,f,ü,r, ,I,h,r,e, ,B,e,w,e,r,b,u,n,g,:, ,N,e,b,e,n, ,I,h,r,e,r, ,P,r,o,j,e,k,t,h,i,s,t,o,r,i,e,,, ,a,u,s, ,d,e,r, ,d,i,e, ,a,n,g,e,f,o,r,d,e,r,t,e,n, ,K,e,n,n,t,n,i,s,s,e, ,e,i,n,w,a,n,d,f,r,e,i, ,e,r,k,e,n,n,b,a,r, ,s,i,n,d,,, ,b,e,n,ö,t,i,g,e,n, ,w,i,r, ,e,i,n,e, ,a,u,s,s,a,g,e,k,r,ä,f,t,i,g,e, ,S,e,l,b,s,t,e,i,n,s,c,h,ä,t,z,u,n,g,,, ,a,u,s, ,d,e,r, ,s,c,h,n,e,l,l, ,e,r,s,i,c,h,t,l,i,c,h, ,w,i,r,d,,, ,d,a,s,s, ,S,i,e, ,d,e,r,/,d,i,e, ,g,e,e,i,g,n,e,t,e, ,K,a,n,d,i,d,a,t,(,i,n,), ,f,ü,r, ,d,i,e,s,e, ,P,o,s,i,t,i,o,n, ,s,i,n,d,., ,I,m, ,Z,u,g,e, ,u,n,s,e,r,e,r, ,i,n,t,e,n,s,i,v,e,n, ,Z,u,s,a,m,m,e,n,a,r,b,e,i,t, ,m,i,t, ,d,e,m, ,K,u,n,d,e,n, ,w,i,r,d, ,d,i,e,s,e, ,e,i,n,e,n, ,w,e,s,e,n,t,l,i,c,h,e,n, ,T,e,i,l, ,z,u,r, ,e,r,f,o,l,g,r,e,i,c,h,e,n, ,B,e,s,e,t,z,u,n,g, ,b,e,i,t,r,a,g,e,n,., , ,I,h,r,e, ,G,E,C,O,-,A,n,s,p,r,e,c,h,p,a,r,t,n,e,r,i,n, ,f,r,e,u,t, ,s,i,c,h, ,a,u,f, ,I,h,r,e, ,K,o,n,t,a,k,t,a,u,f,n,a,h,m,e, ,u,n,d, ,ü,b,e,r, ,d,i,e, ,Z,u,s,e,n,d,u,n,g, ,I,h,r,e,s, ,a,k,t,u,e,l,l,e,n, ,C,V,s, ,(,W,o,r,d,-,D,o,k,u,m,e,n,t,), ,i,n,k,l,., ,A,n,g,a,b,e, ,z,u,r, ,V,e,r,f,ü,g,b,a,r,k,e,i,t, ,s,o,w,i,e, ,I,h,r,e,s, ,S,t,u,n,d,e,n,s,a,t,z,e,s,:, ,K,e,r,s,t,i,n, ,H,a,m,e,s,t,e,r, ,W,e,i,t,e,r,e, ,s,p,a,n,n,e,n,d,e, ,P,o,s,i,t,i,o,n,e,n, ,f,i,n,d,e,n, ,S,i,e, ,u,n,t,e,r,:, ,h,t,t,p,s,:,/,/,w,w,w,.,g,e,c,o,-,g,r,o,u,p,.,c,o,m,/,i,t,-,s,p,e,c,i,a,l,i,s,t,s,/,j,o,b,s, ,S,t,a,r,t,:, ,a,s,a,p, ,D,a,u,e,r,:, ,l,a,n,g,f,r,i,s,t,i,g, ,A,r,t,:, ,C,o,n,t,r,a,c,t, ,\n,\n, , , , , , , , , , , , , , , , ,\n, , , , , , , , , , , , , , , , , ,\n, , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , , ,\n, , , , , , , , , , , , , , ,M,e,l,d,e,n, ,S,i,e, ,s,i,c,h, ,j,e,t,z,t, ,a,n, ,u,n,d, ,b,e,w,e,r,b,e,n, ,S,i,e, ,s,i,c,h, ,d,i,r,e,k,t,!, ,\n, , , , , , , , , , , , , , ,J,e,t,z,t, ,b,e,w,e,r,b,e,n'

In [55]:
np.array_split(df, 10)

[                                                   ready
 0      Projekt in Köln: Cloud Architekt (m/w) gesucht...
 1      Für unseren Kunden suchen wir asap einen Senio...
 2      Für ein Teilzeitprojekt in Hamburg sucht unser...
 3      Projektbeschreibung \n\n                      ...
 4      Future Consulting GmbH \r\nentscheiden Sie sic...
 ...                                                  ...
 25318  Projektbeschreibung \n\n                      ...
 25319  Für unseren Kunden aus dem Öffentlich-Rechtlic...
 25320  Projektbeschreibung \n\n                      ...
 25321  Eine der führenden deutschen Banken sucht für ...
 25322  Projektbeschreibung \n\n                      ...

 [25323 rows x 1 columns],
                                                    ready
 25323  Für unseren Kunden, ein Unternehmen der Mobili...
 25324  Projektbeschreibung \n\n                      ...
 25325  Projektbeschreibung \n\n                      ...
 25326  Für folgende Aufgabe suchen wir einen freiberu...
 25327  Projektbeschreibung \n\n                      ...
 ...                                                  ...
 50640  A,u,f,g,a,b,e,:, ,\n,*, ,A,n,a,l,y,s,e, ,d,e,s...
 50641  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 50642  A,u,f,g,a,b,e,:, ,\n,*, ,E,n,t,w,i,c,k,e,l,n, ...
 50643  A,u,f,g,a,b,e,:, ,\n,*, ,F,E,M,-,B,e,r,e,c,h,n...
 50644  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...

 [25322 rows x 1 columns],
                                                    ready
 50645  A,u,f,g,a,b,e,:, ,\n,*, ,K,o,n,s,t,r,u,k,t,i,o...
 50646  A,u,f,g,a,b,e,:, ,\n,*, ,S,t,r,o,m,l,a,u,f,p,l...
 50647  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 50648  A,u,f,g,a,b,e,:, ,\n,*, ,K,o,n,z,e,p,t,i,o,n, ...
 50649  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 ...                                                  ...
 75962  F,r,e,i,b,e,r,u,f,l,i,c,h,e,r, ,T,e,s,t,e,r, ,...
 75963  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 75964  F,ü,r, ,u,n,s,e,r,e,n, ,K,u,n,d,e,n, ,s,u,c,h,...
 75965  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 75966  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...

 [25322 rows x 1 columns],
                                                     ready
 75967   S,e,h,r, ,g,e,e,h,r,t,e, ,D,a,m,e,n, ,u,n,d, ,...
 75968   P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 75969   W,i,r, ,s,u,c,h,e,n, ,a,k,t,u,e,l,l, ,p,r,o,j,...
 75970   P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 75971   P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 ...                                                   ...
 101284  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 101285  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 101286  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 101287  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 101288  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...

 [25322 rows x 1 columns],
                                                     ready
 101289  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 101290  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 101291  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 101292  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 101293  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 ...                                                   ...
 126606  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 126607  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 126608  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 126609  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 126610  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...

 [25322 rows x 1 columns],
                                                     ready
 126611  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 126612  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 126613  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 126614  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 126615  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 ...                                                   ...
 151928  I,h,r,e, ,A,u,f,g,a,b,e,n,:, ,\n,R,e,s,p,o,n,s...
 151929  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 151930  A,k,t,u,e,l,l, ,s,i,n,d, ,w,i,r, ,a,u,f, ,d,e,...
 151931  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 151932  I,h,r,e, ,A,u,f,g,a,b,e,n,:, ,\n,U,n,t,e,r,s,t...

 [25322 rows x 1 columns],
                                                     ready
 151933  I,h,r,e, ,A,u,f,g,a,b,e,n,:, ,\n,S,A,P, ,H,A,N...
 151934  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 151935  W,i,r, ,s,i,n,d, ,a,k,t,u,e,l,l, ,a,u,f, ,d,e,...
 151936  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 151937  F,ü,r, ,u,n,s,e,r,e,n, ,K,u,n,d,e,n, ,i,m, ,G,...
 ...                                                   ...
 177250  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 177251  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 177252  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 177253  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 177254  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...

 [25322 rows x 1 columns],
                                                     ready
 177255  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 177256  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 177257  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 177258  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 177259  P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
 ...                                                   ...
 202572  Projektbeschreibung \n\n                      ...
 202573  Thema: SAP C4C Consultant (kein Entwickler)  \...
 202574  Projektbeschreibung \n\n                      ...
 202575  Wir suchen für einen laufenden Betrieb langfri...
 202576  Projektbeschreibung \n\n                      ...

 [25322 rows x 1 columns],
                                                     ready
 202577  Projektbeschreibung \n\n                    \n...
 202578  Projektbeschreibung \n\n                      ...
 202579  Projektbeschreibung \n\n                      ...
 202580  Embedded Entwickler (m/w/d) \n \nIhre Aufgaben...
 202581  Projektbeschreibung \n\n                      ...
 ...                                                   ...
 227894  Projektbeschreibung \n\n                    \n...
 227895  Projektbeschreibung \n\n                    \n...
 227896  Projektbeschreibung \n\n                    \n...
 227897  Projektbeschreibung \n\n                    \n...
 227898  Projektbeschreibung \n\n                    \n...

 [25322 rows x 1 columns],
                                                     ready
 227899  Projektbeschreibung \n\n                    \n...
 227900  Projektbeschreibung \n\n                    \n...
 227901  Projektbeschreibung \n\n                    \n...
 227902  Projektbeschreibung \n\n                    \n...
 227903  Projektbeschreibung \n\n                    \n...
 ...                                                   ...
 253216  For a contracting project in Berlin, our clien...
 253217  Für unseren Kunden suchen wir einen 1st Level ...
 253218  Aktuell bieten wir in Zusammenarbeit mit unser...
 253219  Wir sind ein kleines Team mit diversen erfolgr...
 253220  Tätigkeitenbeschreibung Wir suchen für unseren...

 [25322 rows x 1 columns]]

In [56]:

df2 = df.ready[50640 : 177260]
df2.shape

(126620,)

In [57]:
df2.head()

50640    A,u,f,g,a,b,e,:, ,\n,*, ,A,n,a,l,y,s,e, ,d,e,s...
50641    P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
50642    A,u,f,g,a,b,e,:, ,\n,*, ,E,n,t,w,i,c,k,e,l,n, ...
50643    A,u,f,g,a,b,e,:, ,\n,*, ,F,E,M,-,B,e,r,e,c,h,n...
50644    P,r,o,j,e,k,t,b,e,s,c,h,r,e,i,b,u,n,g, ,\n,\n,...
Name: ready, dtype: object

In [19]:
indexes_to_drop = range(50640,177260)
indexes_to_keep = set(range(df.shape[0])) - set(indexes_to_drop)
df_sliced = df.take(list(indexes_to_keep))
df_sliced.shape

(126601, 1)

In [20]:
df_sliced.head()

                                               ready
0  Projekt in Köln: Cloud Architekt (m/w) gesucht...
1  Für unseren Kunden suchen wir asap einen Senio...
2  Für ein Teilzeitprojekt in Hamburg sucht unser...
3  Projektbeschreibung \n\n                      ...
4  Future Consulting GmbH \r\nentscheiden Sie sic...

10

In [21]:
def split_data(df, n):
    data = np.array_split(df, n)
    return data

In [22]:
data = split_data(df_sliced, 5)

In [23]:
len(data)

5

In [24]:
#df1 = data[0]
#df2 = data[1]
#df3 = data[2] bad data
df4 = data[3]
df5 = data[4]

In [25]:
#all_df = df1 + df2 + df3 + df4 + df5
df3.shape

(25320, 1)

In [37]:
df5.head(100)

                                                    ready
227901  Projektbeschreibung \n\n                    \n...
227902  Projektbeschreibung \n\n                    \n...
227903  Projektbeschreibung \n\n                    \n...
227904  Projektbeschreibung \n\n                    \n...
227905  Projektbeschreibung \n\n                    \n...
...                                                   ...
227996  Projektbeschreibung \n\n                    \n...
227997  Projektbeschreibung \n\n                    \n...
227998  Projektbeschreibung \n\n                    \n...
227999  Projektbeschreibung \n\n                    \n...
228000  Projektbeschreibung \n\n                    \n...

[100 rows x 1 columns]

In [38]:
# Clean text and title and create new column "tokenized"
t1 = time.time()
df5['token_stem_spRm'] = df5['ready'].apply(text_processing)
t2 = time.time()

In [39]:
print("Time taken to prepare", len(df5), "projects documents:", (t2-t1)/60, "min")

Time taken to prepare 25320 projects documents: 16.882160449028014 min

In [35]:
df4.head()

,ready,token_stem_spRm
202581,Projektbeschreibung \n\n ...,"[base, sas, advanced, sas, sas, macros, autoca..."
202582,"Dear Network, \n \nI'm currently looking for a...","[dear, network, test, engineer, project, semic..."
202583,Projektbeschreibung \n\n ...,"[business, innovativer, google, reseller, dien..."
202584,"Für unseren Kunden, ein führendes Unternehmen ...","[führendes, finanzdienstleistungssektor, softw..."
202585,Projektbeschreibung \n\n \n...,"[projekt, offsite, sprachanforderung, developm..."

In [41]:
with open('df/df1.pickle', 'wb') as output:
    pickle.dump(df1, output)
with open('df/df2.pickle', 'wb') as output:
    pickle.dump(df2, output)

In [36]:
with open('df/df4.pickle', 'wb') as output:
    pickle.dump(df4, output)

In [15]:
# load nltk's German and english stopwords'
with open('constants/german_stopwords_full.txt', 'r') as f:
    stopwords_germ = f.read().splitlines()
with open('constants/stopwords_manual.txt', 'r') as f:
    stopwords_manual = f.read().splitlines()
stopwords_eng = nltk.corpus.stopwords.words('english')

In [ ]:
pickle_in = open('df/stopwords.pickle',"rb")
stopwords_all = pickle.load(pickle_in)